.review-card {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.review-content {
    flex: 1;
}

.reviewer-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.review-text {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 10px;
}

.star-rating {
    font-size: 1rem;
    color: #ffcc00;
}

.reviewcontainer {
    display: flex;
}



/* review cards */
.testimonials-slider {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* justify-content: center; */
}

.single-testimonials-card {
    flex: 0 1 24%;
   /* height: 55%; */
    max-width: 40%;
}


/* our team rating */

.rating {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.filled-star {
    color: #ffc107; /* Gold color for filled stars */
}

.empty-star {
    color: #ccc; /* Light color for empty stars */
}

.rating-text {
    font-size: 14px;
    color: #555;
    margin-left: 5px;
}


/* Review Card */



